<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">草莓影城</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

    <!--搜尋列-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="請輸入欲搜尋之電影..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
    </form>

    
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> 購物車</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i> 會員
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">帳戶</a>
          <a class="dropdown-item" href="#">登出</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-ticket-alt"></i> 我的票券</a>
      </li>

    </ul>

    
  </div>
  
</nav>