<div class="row">
    <div class="col-mb-3 align-self-center" id="sign">
    <form action="/user/signup" method="POST">
        <h3>會員註冊</h3>
        <div class="form-group">
            <label for="telephone">手機號碼</label>
            <input type="text" class="form-control" id="telephone">
        </div>
        <div class="form-group">
            <label for="email">電子信箱</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="refferalCode">推薦碼</label>
            <input type="text" class="form-control" id="refferalCode">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <!--what the fxckkkkkkkkkkkkkkkk-->
        <button type="submit" class="btn btn-primary">註冊</button>
    </form>

    </div>
</div>