

<div class="card-container mx-auto">
    <div class="card" style="max-width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-12 align-self-center">
                <img src="{{url}}" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>