<div class="col-sm-12 col-md-12">
    <div class="col align-self-center">
        <div class="row justify-content-center">

            <h1>訂單完成</h1>

        </div>
        <ul class="list-group">
            <li class="list-group-item">
        <div class="row justify-content-center">
            <span class="label">訂單編號：{{ orderId }}</span>
        </div>

        <br>

        <div class="row justify-content-center">
            <!--驗證orderId user是否為當前user-->
            <a href="/user/ticket" class="btn btn-secondary" role="button">前往票券</a>
        </div>
            </li>
        </ul>

</div>

</div>